<h1>App Component</h1>
<form (ngSubmit)="onSubmit(form)" [formGroup]="form">
  <!-- <input type="email" placeholder="email@email.com" name="email" id="email" formControlName="email"> -->
  <br>
  <input type="number" name="cups" id="cups" formControlName="cups">
  <br>
  <input type="submit" value="Submit">
</form>

<div *ngIf="submitResponse">
  {{submitResponse}}
</div>
<br>


<button (click)="addCup()">Increment Cup</button>
<button (click)="removeCup()">Decrement Cup</button>
<button (click)="reset()">Reset</button>

<p>
  Number of cups is: {{cupsInApp}}
  <br>
  Number of cups from NGRX is : {{(cupNgrx$ | async).cups}} 
  <span style="color:blue">[Updated]</span>
</p>

<router-outlet></router-outlet>